extends ../layout
block content
  title= 'Project List'
  meta(charset='utf-8')
  .container
    .jumbotron
      h1 Project List
      p These are our past/ongoing projects 
  .container
    br
    h3 현재 진행중인 프로젝트 리스트
    table#projtable1.table.table-bordered.table-striped.table-hover
      thead
        tr
          th 프로젝트명[PRO_NAME]
          th 기관명[PRO_ORG]
          th 시작일[PRO_START]
          th 종료일[PRO_END]
          //- th 참여 인원
      tbody#myTable
        each c_projects in current_projects        
          tr(data-toggle='modal', data-target='#myModal')
            
            td
              a(href=`/project/${c_projects.pro_id}`)= c_projects.pro_name
            td= c_projects.cus_name
            td= moment(c_projects.pro_start).format("YYYY년 MM월 DD일")
            td
              if(c_projects.pro_deadline)
                = moment(c_projects.pro_deadline).format("YYYY년 MM월 DD일")
    br
    br
    h3 전체 프로젝트 리스트
    table#projtable.table.table-bordered.table-striped.table-hover
      thead
        tr
          th 프로젝트명[PRO_NAME]
          th 기관명[PRO_ORG]
          th 시작일[PRO_START]
          th 종료일[PRO_END]
          //- th 참여 인원
      tbody#myTable
        each project in projects        
          tr(data-toggle='modal', data-target='#myModal')
            
            td
              a(href=`/project/${project.pro_id}`)= project.pro_name
            td= project.cus_name
            td= moment(project.pro_start).format("YYYY년 MM월 DD일")
            td
              if(project.pro_deadline)
                = moment(project.pro_deadline).format("YYYY년 MM월 DD일")
    br
   
    .container
      table(width='450')
        tr
          th
            a.btn.btn-sm.btn-outline-secondary(href='/project/add_project') 프로젝트 추가
          th
            a.btn.btn-sm.btn-outline-success(href='/project/order_list') 고객 / 수주 리스트
          th
            a.btn.btn-sm.btn-outline-info(href='/project/add_order') 고객 / 수주 추가
      br
      br 
      
    


      
    
  script.
    $(document).ready(function() {
    $('#projtable').DataTable();
    } );

   $(document).ready(function() {
    $('#projtable1').DataTable();
    } );



