extends ../layout
block content
  title= 'Client / Order List'
  .container
    .jumbotron
      h1 Client / Received Order List Page
      p You can view the Client / Received Order List 
  .container
    h2 Client List
    table#clienttable.table.table-bordered.table-striped.table-hover
      thead
        tr
          th 번호
          th 이름
      tbody#myTable
        each client in clients
          tr           
            td= client.cus_id
            td= client.cus_name
    br
    br
    h2 Order List
    table#ordertable.table.table-bordered.table-striped.table-hover
      thead
        tr
          th 번호
          th 수주 내용
          th 수주일
          th 고객 이름
          th
      tbody#myTable
        each order in orders
          tr
            th= order.order_id          
            td= order.order_content
            td= moment(order.order_date).format("YYYY년 MM월 DD일")
            td= order.cus_name
            td
                a.btn.btn-sm.btn-outline-secondary(href=`/project/${order.order_id}/edit_order`) 
                    | #[i.fa.fa-pencil] 주문 수정
                a.btn.btn-sm.btn-outline-danger(data-url=`/project/${order.order_id}/delete_order`)
                    | #[i.fa.fa-trash] 주문 삭제            
    br
    a.btn.btn-dark(href='javascript:window.history.back();') Back
    a.btn.btn-sm.btn-outline-info(href=`/project/add_order`) 
      | 고객 / 수주 추가
    br
    br
  script.
    $(document).ready(function() {
    $('#clienttable').DataTable();
    } );
      $(document).ready(function() {
    $('#ordertable').DataTable();
    } );

    $(function() {
    $('.btn-outline-danger').click(function() {
    if (confirm('정말 삭제하시겠습니까?')) {
        location = $(this).data('url');
    }
    return false;
    });
    });
