extends ../layout
block content
  title= 'Project List'

  .container
    each project in projects
      h1=project.pro_name
    br

    table.table.table-bordered.table-striped.table-hover
        h2 프로젝트 정보
        thead
        tr
            th 프로젝트명[PRO_NAME]
            th [PRO_ID]
            th 기관[PRO_ORG]
            th [PRO_START]
            th [PRO_END]
        tbody
          each project in projects
            tr
                td=project.pro_name
                td=project.pro_org
                td=project.cus_name
                td=project.pro_start
                td=project.pro_end
    table.table.table-bordered.table-striped.table-hover
        thead
        tr
            th [ORDER_DATE]
            th [ORDER_CONTENT]
            th 기관[CUS_NAME]
        tbody
          each project in projects
            tr
                td=project.order_date
                td=project.order_content
                td=project.cus_name
    table.table.table-bordered.table-striped.table-hover
        h2 프로젝트 참여자 명단
        input#myInput2.form-control(type='text', placeholder='참여자검색..')
        br
        thead
        tr
            th [EMP_NAME]  
            th 직무[EMP_ROLE]
            th 참여일[ER_START]
            th 종료일[ER_END]
        tbody#myTable2
         each emp_proj in emp_projs
          tr(href='#emp', data-toggle='collapse')
         
            td=emp_proj.emp_name
            td=emp_proj.role_name
            td=emp_proj.er_start
            td=emp_proj.er_end
       
    script.
        $(document).ready(function(){
        $("#myInput2").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable2 tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        });
        });
    .progress
        .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width:10%')
        | 10%
    p 진행중인 프로젝트입니다.
    .modal-footer
    a.btn.btn-dark(href='javascript:window.history.back();') Back
