extends ../layout
block content
  .container
    h1.main-title 직원 정보 수정
    form(action=`/employee/${emp_info.emp_id}/edit`, method = 'POST')
        .form-group
          label(for='id') 사번
          input.form-control(type='text', id='id', name='id' value=emp_info.emp_id)
        .form-group
            label(for="dept") 부서 &nbsp;
            select.form-control(name="dept")
                option(value="1") 마케팅
                option(value="2") 인사
                option(value="3") 경영
                option(value="4") 연구개발
                option(value="5" selected="selected") 개발
        .form-group
          label(for = 'name') 이름
          input.form-control(type='text', id='name', name='name' value=emp_info.emp_name)
        .form-group
          label(for='rnum') 주민번호
          input.form-control(type='text', id='rnum', name='rnum' value=emp_info.emp_Rnum)
        .form-group
          label(for='edu') 최종학력
          input.form-control(type='text', id='edu', name='edu' value=emp_info.emp_edu)

        |재직상태 : &nbsp;
        if(emp_info.emp_status=='1')
            input(type="radio", name="status", value="1" checked="" )
            |	재직 &nbsp;
        else
            input(type="radio", name="status", value="1")
            |	재직 &nbsp;
        if(emp_info.emp_status=='2')  
            input(type="radio", name="status", value="2"  checked="")
            |	휴직 &nbsp;
        else
            input(type="radio", name="status", value="2"  )
            |	휴직 &nbsp;
        if(emp_info.emp_status=='3')  
            input(type="radio", name="status", value="3" checked="")
            |	퇴직 &nbsp;
        else
            input(type="radio", name="status", value="3")
            |	퇴직 &nbsp;
        br
        .form-group
          label(for='password') 비밀번호
          input.form-control(type='password', id='password', name='password' value=emp_info.emp_pass)
        .form-group
          label(for='hiredate') 입사일자
          input.form-control(type='date', id='hiredate', name='hiredate' value=moment(emp_info.emp_hiredate).format('YYYY-MM-DD'))
        .form-group
          label(for='workyear') 근속연수
          input.form-control(type='text', id='workyear', name='workyear' value=emp_info.emp_workyear)
        .form-group
          label(for='retiredate') 퇴사일자
          input.form-control(type='date', id='retiredate', name='retiredate')

        a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
        | 
        button.btn.btn-dark(type='submit') 수정
        br
        br
