extends ../layout
block content
  title= 'Project List'
  meta(charset='utf-8')
  .container
    .jumbotron
      h1 Employee View Pages
      p You can view the Employee. 
  .container
    h2 Employee View
    p
    | Type something in the input field to search the table for number, duty, names ect.
    br
    br
    input#myInput.form-control(type='text', placeholder='Search..')
    br
    table.table.table-bordered.table-striped.table-hover
      thead
        tr
          th 직원번호
          th 부서
          th 이름
          th 재직구분
          th 학력
          th 입사날짜
          th 경력
      tbody#myTable
        each employee in employees
          tr(data-toggle='modal', data-target='#myModal')
            
            td
             a(href=`/employee/${employee.emp_id}`)= employee.emp_id
            td= employee.dept_name
            td= employee.emp_name
            td= employee.emp_status 
            td= employee.emp_edu  
            td= employee.emp_hiredate 
            td= employee.emp_workyear  
  script.
    $(document).ready(function(){
    $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    });
    });