extends ../layout

block content
  .container

    dl.row
      dt.col-sm-3 ID
      dd.col-sm-9= user_info.emp_id

      dt.col-sm-3 이름
      dd.col-sm-9= user_info.emp_name

      dt.col-sm-3 부서
      dd.col-sm-9= user_info.dept_name
    
      dt.col-sm-3 최종학력
      dd.col-sm-9= user_info.emp_edu

      dt.col-sm-3 주민번호
      dd.col-sm-9= user_info.emp_Rnum
    br
    table.table.table-bordered.table-striped.table-hover
      h2 나의 경력 정보
      br
      thead
      tr
          th 이전 직장 이름
          th 근무 기간
  
      tbody#myTable2
      each career in careers
        tr(href='#emp', data-toggle='collapse')
      
          td=career.career_name
          td=career.career_period


    table.table.table-bordered.table-striped.table-hover
        h2 나의 보유 기술
        br
        thead
        tr
            th 기술 이름
            th 기술 등급

        tbody#myTable2
        each skill in skills
          tr(href='#emp', data-toggle='collapse')
        
            td=skill.skill_name
            td=skill.skill_grade

  

    br
    a.btn.btn-sm.btn-outline-secondary(href=`/myinfo/${user_info.emp_id}/edit`) 
      | 정보 수정
    a.btn.btn-sm.btn-outline-warning(href=`/myinfo/${user_info.emp_id}/add_skill`) 
      | 경력/기술 추가
    a.btn.btn-sm.btn-outline-danger.delete-btn(data-url=`/myinfo/${user_info.emp_id}/delete`)
      | 회원 탈퇴
    br
    br
    br
    br
    br
    br
    br
    
    script.
      $(function() {
        $('.delete-btn').click(function() {
          if (confirm('Are you sure to delete?')) {
            location = $(this).data('url');
          }
          return false;
        });
      });